* {
  margin: 0;
  /* padding: 0;   */
}

ul li {
  list-style-type: none;
  margin: 10px;
}

#list {
  border-bottom: 1px solid green;
}

.hexa {
  padding: 40px;
  background: #ab17;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
}
